/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

nav{
    background: rgba(196, 196, 196, 0.26);
    backdrop-filter: blur(4px);
    position: fixed;
    max-height: 100%;
}
.principalNav{
    color: #172983;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: helvetica, arial, sans-serif;
}

.login{
    background-color: #0088C9;
    font-family: Lato;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    width: 10em;
    height: 3em;
    border-radius: 50px;
    border: none;
}
.navbar-brand{
    margin-left: 4%;
}
.currentPage{
    font-weight: 600;
}

.dropdown-item{
    font-family: helvetica;
    font-size: 0.8rem;
}
.navTitle{
    font-family: helvetica;
    font-size: 1rem;
    font-weight: 600;
    color: #172983;
    margin-left: 4%;
}

.dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }
  .navbar-toggler{
      border-color: #172983;
  }

  @media only screen and (max-width: 576px) {
      .login{
        width: 8em;
        height: 2em;
        margin-left: 35%;
      }
  }
  @media only screen and (min-width: 992px) {
    .logo{
        margin-right: 14em;
    }
    .aboutNav{
        margin-right: 4em;
    }
  }
  @media only screen and (max-width: 1024px) {
    .logo{
        margin-right: 3em;
    }
    .aboutNav{
        margin-right: 0;
    }
  }
  @media only screen and (max-width: 1025px) {
    .logo{
        margin-right: 3em;
    }
    .aboutNav{
        margin-right: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .login{
        width: 10em;
        height: 3em;
        margin-left: 35%;
      }
  }