/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    max-width: 100%;
}

footer{
    max-width: 100%;
}

/*||||||||||||||||||||||||||| HOME STYLING |||||||||||||||||||||||||||||*/

/*||||||||||||||||| CAROUSEL ||||||||||||||||||||*/
.carousel{
    margin: 3.13em 3.38em 3.81em 3.38em;
    border-radius: 30px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
}
.carouselButton{
    position: absolute;
    background-color: #009EE0;
    font-family: Lato;
    font-weight: 600;
    font-size: 1em;
    color: white;
    border-radius: 50px;
    border: none;
}
.carousel-control-next{
    padding-right: 5em;
}
.carousel-control-prev{
    padding-left: 5em;
}
.d-block{
    position: relative;
}


/*|||||||||||| MEET CONTENT CONTAINER ||||||||||||||*/

.meetContainer{
    background-color: #009EE0;
    display: flex;
}
    .meetTitle{
      color: #fff;
      font-family: Roboto;
      font-weight: 700;
      font-size: 2.5em;
      font-style: normal;
      font-weight: bold;
      line-height: 3em;
      text-align: center;
      position: relative;
    }
    .meetContent{
      font-family: Arial, Helvetica, sans-serif;
     color: #fff;
      font-size: 1em;
      position: relative;
    }
    .blueSquare{
     background-color: #172983;
     border-radius: 20px 0 0 20px;
     position: absolute;
     overflow: hidden;
    }
    .whiteSquare{
     background-color: white;
     border-radius: 20px;
     position: absolute;
    }

/*ABOUT HEDGE TUTOR CONTAINER*/
.aboutContainer{
    margin-bottom: 2.1em;
}
    .subTitle{
        color: #172983;
        font-family: Roboto;
        font-weight: 700;
        font-size: 2.5em;
        text-align: center;
        padding: 5% 0 5% 0;
    }
    .aboutVideoTitle{
        margin-bottom: 20px;
        color: #172983;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    iframe{
        border-radius: 15px;
    }

/*||||||||||||| LEARN ABOUT US CONTAINER ||||||||||||||*/
.learnContainer{
    margin-bottom: 5.75em;
}
    .learnButton{
        width: 22.4em;
        height: 14.88em;
        border-radius: 12px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }
    .learnButton h5{
        font-family: Roboto, sans-serif;
        font-size: 40px;
        color: #172983;
        font-weight: bolder;
        padding: 20% 0 0 0;
        text-align: center;
    }
    .learnButton p{
        color: black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding: 0 8% 0 8%;
    }
/*|||||||||| FOOTER ||||||||||*/

footer{
    height: 11em;
    background-color: #009EE0;
}
.footerNav{
    color: #fff;
    text-decoration: none;
    line-height: 1.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: helvetica, arial, sans-serif;
}

.footerDiv{
    height: 3.1em;
    text-align: center;
    color: #fff;
    font-family: helvetica ;
    border-top: 1px solid #FFFFFF;
    padding-top: 1%;
}

/*|||||||||||||||||| HOME MEDIA QUERIES |||||||||||||||||||||*/

/*|||||||||||||PHONE SIZE||||||||||||*/
@media only screen and (max-width: 600px) {

/*|||||||||| MEET CONTAINER ||||||||||||*/
  
    .meetContainer{
        height: 45em;
    }
        .meetTitle{
            padding-top: 10%;
            margin-bottom: -17%;
        }
        .meetContent{
            width: 95%;
            margin-left: 3%;
        }
        .whiteSquare{
            display: none;
        }
        .blueSquare{
            display: none;
        }
/*||||||||||| ABOUT CONTAINER ||||||||||||||*/
    iframe{
        max-width: 90%;
        max-height: 90%;
        margin-left: 3%;
        margin-bottom: 10%;
    }
/*|||||||||||| CAROUSEL ||||||||||||||*/
    .carousel{
        height: 18em;
    }
    .carouselButton{
        margin: 52% 10% 10% 10%;
        width: 6em;
        height: 2.2em;
    }

    .learnButton{
        margin: 0 0 5% 5%;

    }
   }
 
   @media only screen and (min-width: 601px) {
    .meetTitle{
        padding-top: 8%;
        margin-bottom: -10%;
    }
   
    iframe{
        max-width: 90%;
        max-height: 90%;
        margin-left: 8%;
        margin-bottom: 10%;
    }
    .learnButton{
        margin: 0 0 5% 5%;
    }

    .carousel{
        height: 18em;
    }
        .carouselButton{
            margin: 45% 0 0 10%;
            height: 2.5em;
            width: 6em;
        }
}
@media only screen and (min-width: 768px) {
    /*||||||||||||| CAROUSEL ||||||||||||||*/
    .carouselButton{
        margin: 33% 10%;
    }
    .meetContainer{
        width: 99%;
    }
    .meetContent{
        margin-left: 3%;
    }
}

@media only screen and (max-width: 768px) {
   
/*|||||||||| MEET CONTAINER ||||||||||||*/   
    .meetContainer{
        height: 40em;
    }
    .whiteSquare{
        display: none;
    }
    .blueSquare{
        display: none;
    }
    .learnButton{
        margin-bottom: 2em;
    }
    .footerLogo{
        margin-left: 3em;
    }
}
@media only screen and (max-width: 990px) {
    .blueSquare{
        display: none;
    }
    .whiteSquare{
        display: none;
    }
    .meetTitle{
        margin-top: -1em;
        margin-bottom: 1em;
    }
}
@media only screen and (min-width: 992px){
    .meetContainer{
        height: 40em;
    }
    .meetTitle{
        margin-top: -5%;
    }
    .carouselButton{
        margin: 25% 0% 0 7%;
    }
    .carousel{
        height: 18em;
    }

}


@media only screen and (max-width: 992px) {

    
    .blueSquare{
        width: 17em;
        height: 20em;
        background-color: #172983;
        border-radius: 20px 0 0 20px;
        margin-left: 44.3em;
        position: absolute;
        top: 47em;
        overflow: hidden;
       }
       .whiteSquare{
        width: 20em;
        height: 19em;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        margin-left: 37em;
        margin-top: 14em;
       }
       .learnVideo{
           margin-left: 10%;
       }
}
@media only screen and (min-width: 1200px) {
  
     /*|||||||||||||| CAROUSEL ||||||||||||||*/
    .carousel{
       height: 35em;
    }
        .carouselButton{
            font-family: Lato;
            width: 9.4em;
            height: 2.9em;
            margin: 35% 25% 25% 10%
        }
  
    /*||||||||||||||||||| MEET CONTAINER ||||||||||||||||||*/
    .meetContainer{
        height: 48.38em;
    }
        .meetTitle{
            padding-top: 5%;
            margin: 0.2% 0 -3% 0;
            }
        .blueSquare{
            width: 22.8em;
            height: 26.19em;
            margin-left: 51.4em;
            top: 65.89em;
            }
        .whiteSquare{
            width: 31.50em;
            height: 26.19em;
            margin-left: 40em;
            margin-top: 14.69em;
            }
        .meetContainer{
            height: 48.38em;
            background-color: #009EE0;
            display: flex;
        }
    .learnButton{
        margin-right: 0;
    }
   
    /*|||||||||||||| FOOTER |||||||||||||||*/
    .footerList{
        margin-left: 19em;
    }
    .footerLogo{
        margin-right: 5em;
    }
}

@media only screen and (min-width: 1201px) {
   
    .blueSquare{
        width: 22.8em;
        height: 26.19em;
        margin-left: 60.6em;
        top: 65.89em;
        }
    .whiteSquare{
        width: 31.50em;
        height: 26.19em;
        margin-left: 48em;
        margin-top: 14.69em;
        }
}

/*|||||||||||||||||||||||||||||||| HEDGETUTOR PAGE |||||||||||||||||||||||||||||||*/

.hedgeContainer{
        height: 847px;
        background-color: #172983;
        display: flex;
    }
    .hedgeBlueSquare{
        width: 366px;
        height: 419px;
        background-color: #009EE0;
        border-radius: 20px 0 0 20px;
        margin-left: 983px;
        position: absolute;
        top: 1054px;
        overflow: hidden;
    }
    .hedgeWhiteSquare{
        width: 505px;
        height: 419px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        margin-left: 813px;
        margin-top: 235px;
    }
    .downloadButton{
        width: 258px;
        height: 70px;
        position: absolute;
        border: none;
        border-radius: 40px;
        color: #009EE0;
        font-size: 16px;
        background-color: white;
        margin: 53% 10% 10% 10%;
        font-weight: 600;
    }

