/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    max-width: 100%;
}

/*||||||||| HOME STYLING ||||||||*/

/*MEET CONTENT CONTAINER*/
.meetContainer{
    height: 774px;
    background-color: #009EE0;
    display: flex;
}
    .meetTitle{
      color: #fff;
      font-family: Roboto;
      font-weight: 700;
        font-size: 2.5em;
       padding-top: 5%;
       margin-bottom: -3%;
      font-style: normal;
       font-weight: bold;
       line-height: 47px;
       text-align: center;
      position: relative;
    }
    .meetContent{
      font-family: Arial, Helvetica, sans-serif;
     color: #fff;
      font-size: 16px;
      position: relative;
       padding-left: 10%;
    }
    .blueSquare{
     width: 22.25em;
     height: 26.19em;
     background-color: #172983;
     border-radius: 20px 0 0 20px;
     margin-left: 61.44em;
     position: absolute;
     top: 65.89em;
     overflow: hidden;
    }
    .whiteSquare{
     width: 31.56em;
     height: 26.19em;
     background-color: white;
     border-radius: 20px;
     position: absolute;
     margin-left: 813px;
     margin-top: 235px;
    }

/*ABOUT HEDGE TUTOR CONTAINER*/
.aboutContainer{
    margin-bottom: 2.1em;
}
.subTitle{
    color: #172983;
    font-family: Roboto;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    padding: 5% 0 5% 0;
}
.aboutVideoTitle{
    margin-bottom: 20px;
    color: #172983;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
iframe{
    border-radius: 15px;
}

/*|||||||||| LEARN ABOUT US CONTAINER ||||||||||||*/
.learnContainer{
    margin-bottom: 92px;
    padding: 0 7% 0 7%;
}
.learnButton{
    width: 367px;
    height: 238px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.learnButton h5{
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #172983;
    font-weight: bolder;
    padding: 20% 0 0 0;
    text-align: center;
}
.learnButton p{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0 8% 0 8%;
}
/*|||||||||| FOOTER ||||||||||*/

footer{
    width: 100%;
    height: 11em;
    background-color: #009EE0;
}
.footerNav{
    color: #fff;
    text-decoration: none;
    line-height: 1.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: helvetica, arial, sans-serif;
}
.footerList{
    margin-left: 19em;
}

.footerDiv{
    height: 3.1em;
    text-align: center;
    color: #fff;
    font-family: helvetica ;
    border-top: 1px solid #FFFFFF;
    padding-top: 1%;
}

/*||||||||||||||||| CAROUSEL ||||||||||||||||||||*/
.carousel{
    width: 92.5%;
    height: 35.06em;
    margin: 3.13em 3.38em 3.81em 3.38em;
    border-radius: 30px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
}
.carouselButton{
    position: absolute;
    background-color: #009EE0;
    font-family: Lato;
    font-weight: 600;
    font-size: 1em;
    color: white;
    width: 9.4em;
    height: 2.9em;
    border-radius: 50px;
    border: none;
    margin: 35% 25% 25% 10%
}
.carousel-control-next{
    padding-right: 5em;
}
.carousel-control-prev{
    padding-left: 5em;
}
.d-block{
    position: relative;
}

/*|||||||||||||||||| HOME MEDIA QUERIES |||||||||||||||||||||*/

/*|||||||||||||PHONE SIZE||||||||||||*/
@media only screen and (max-width: 576px) {
    .whiteSquare{
        display: none;
    }
    .blueSquare{
        display: none;
    }
    .meetTitle{
        padding-top: 20%;
        margin-bottom: -30%;
    }
    iframe{
        max-width: 90%;
        max-height: 90%;
        margin-left: 8%;
        margin-bottom: 10%;
    }
    nav{
        max-width: 100%;
    }
    .carousel{
        max-width: 90%;
        max-height: 300px;
        margin-left: 5%;
    }
    .carouselButton{
        margin: 60% 10% 10% 10%;
        width: 8em;
        height: 2.2em
    }
    .learnButton{
        margin: 0 0 5% 5%;

    }
   }
 
   @media only screen and (max-width: 768px) {
    .whiteSquare{
        display: none;
    }
    .blueSquare{
        display: none;
    }
    .meetTitle{
        padding-top: 20%;
        margin-bottom: -30%;
    }
    .carouselButton{
        margin: 35% 10% 10% 10%;
        width: 9em;
        height: 2.5em;
    }
    .carousel{
        max-width: 90%;
        max-height: 300px;
        margin-left: 5%;
    }
    iframe{
        max-width: 90%;
        max-height: 90%;
        margin-left: 8%;
        margin-bottom: 10%;
    }
    .learnButton{
        margin: 0 0 5% 5%;
    }
}

@media only screen and (min-width: 769px) {
    .learnButton{
        margin-bottom: 2em;
    }

}
@media only screen and (min-width: 1200px) {
    .footerLogo{
        margin-right: 5em;
    }
}

/*|||||||||||||||||||||||||||||||| HEDGETUTOR PAGE |||||||||||||||||||||||||||||||*/

.hedgeContainer{
        height: 847px;
        background-color: #172983;
        display: flex;
    }
    .hedgeBlueSquare{
        width: 366px;
        height: 419px;
        background-color: #009EE0;
        border-radius: 20px 0 0 20px;
        margin-left: 983px;
        position: absolute;
        top: 1054px;
        overflow: hidden;
    }
    .hedgeWhiteSquare{
        width: 505px;
        height: 419px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        margin-left: 813px;
        margin-top: 235px;
    }
    .downloadButton{
        width: 258px;
        height: 70px;
        position: absolute;
        border: none;
        border-radius: 40px;
        color: #009EE0;
        font-size: 16px;
        background-color: white;
        margin: 53% 10% 10% 10%;
        font-weight: 600;
    }

